# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=27365066
API_HASH=fc27b1d891241e20985b6b591525e8ee
TOKEN=8486366370:AAEA2NIftnbGqg-XL39ydgt76Z8VvsU_Uwk
STRING1=
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=
MONGO_URI=mongodb+srv://zatmicos420_db_user:ibey12345@rizky.m9pmr0w.mongodb.net/?retryWrites=true&w=majority&appName=Rizky
API_URL=https://tgmusic.fallenapi.fun
API_KEY=fe5408_Q8tZYOadBUv3ZENOCIWqlQSjfzBa8d6o
OWNER_ID=5092757079
LOGGER_ID=-1003065300493
DEFAULT_SERVICE=youtube
MIN_MEMBER_COUNT=
DOWNLOADS_DIR=database/music
DB_NAME=leamor
START_IMG=https://i.pinimg.com/1200x/e8/89/d3/e889d394e0afddfb0eb1df0ab663df95.jpg
IGNORE_BACKGROUND_UPDATES=True
AUTO_LEAVE=True
PROXY=
COOKIES_URL=https://batbin.me/preextinction
SUPPORT_GROUP=@kelrasupport
SUPPORT_CHANNEL=@xiaokelra
DEVS=5092757079
